{% extends "base.html" %}
{% block content %} 


      <header>
        <!-- Background image -->
        <div
          class="p-5 text-center bg-image"
          style="
            background-image: url('http://www.plantstudio.ae/cdn/shop/files/iStock-1278038594_1512x.jpg?v=1692365017');
            height:1000px;"
          
        >
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.331);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">New Arrivals</h1>
                <h4 class="mb-3">Explore</h4>
                <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button"
                >Shop Now </a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-dark text-center">
          <h1 class="mb-3 mt-5">Well Potted Plants</h1>
          <h5 class="mb-3">We're your online houseplant destination. We offer a wide range of houseplants and accessories shipped 
            directly to you!</h5>
        
        </div>
        <!-- Background image -->
      </header>


<main>
    
  <div class="container">
  <div class="row text-center m-5">
      <div class="col-md-3 mx-auto">
          <div class="card">
            <img src="https://www.plantstudio.ae/cdn/shop/products/333137b3afbbbb34e08258a5a260ea34_900x.jpg?v=1691482175" class="card-img-top" alt="Hollywood Sign on The Hill"/>
            <div class="card-body">
              <h4 class="card-title">Bird of Paradise</h4>
              <h5 class="card-title">2-2.4 meters</h5>
              <p class="card-text">204SR</p>

              <div class="container">
                <div class="row">
                  <div class="col">
                    <a href="#" style="color: #1f2021; background-color: #ffc0cb" class="btn hero__cta btn-sm mr-4" tabindex="0">
                      ADD TO CART
                    </a>
                  </div>
                  <div class="col">
                    <a href="{% url 'checkout' %}" style="color: #000; background-color: #fff; border: 2px solid #ffc0cb" class="btn hero__cta btn-sm mr-4" tabindex="0">
                      BUY IT NOW
                    </a>
                  </div>
                </div>
              </div>
              

            </div>
          </div>
        </div>

      <div class="col-md-3 mx-auto">
          <div class="card">
            <img src="https://www.plantstudio.ae/cdn/shop/products/fdc795ba4a1997ff5bdcf1a42d054cc4_590x.jpg?v=1665722802" class="card-img-top" alt="Hollywood Sign on The Hill"/>
            <div class="card-body">
              <h4 class="card-title">Veitchia Manila</h4>
              <h5 class="card-title">100-200cm</h5>
              <p class="card-text">204SR</p>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <a href="/collections/new-arrivals" style="color: #1f2021; background-color: #ffc0cb" class="btn hero__cta btn-sm mr-4" tabindex="0">
                      ADD TO CART
                    </a>
                  </div>
                  <div class="col">
                    <a href="/collections/new-arrivals" style="color: #000; background-color: #fff; border: 2px solid #ffc0cb" class="btn hero__cta btn-sm mr-4" tabindex="0">
                      BUY IT NOW
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-3 mx-auto">
        <div class="card">
          <img src="https://www.plantstudio.ae/cdn/shop/products/1babed246c406b6d0ba49030ff7830fa_900x.jpg?v=1637837034" class="card-img-top" alt="Hollywood Sign on The Hill"/>
          <div class="card-body">
            <h4 class="card-title">Musa Tree</h4>
            <h5 class="card-title">80-100cm </h5>
            <p class="card-text">140SR</p>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <a href="/collections/new-arrivals" style="color: #1f2021; background-color: #ffc0cb" class="btn hero__cta btn-sm mr-4" tabindex="0">
                      ADD TO CART
                    </a>
                  </div>
                  <div class="col">
                    <a href="/collections/new-arrivals" style="color: #000; background-color: #fff; border: 2px solid #ffc0cb" class="btn hero__cta btn-sm mr-4" tabindex="0">
                      BUY IT NOW
                    </a>
                  </div>
                </div>
              </div>

          </div>
        </div>
        </div>
      </div>

  </div>

  <div class="container">
  <div class="row text-center m-3">
      <div class="col-md-3 mx-auto">
          <div class="card">
            <img src="https://www.plantstudio.ae/cdn/shop/products/WhatsAppImage2021-11-28at12.29.16_590x.jpg?v=1641453304" class="card-img-top" alt="Hollywood Sign on The Hill"/>
            <div class="card-body">
              <h4 class="card-title">Yucca Single Head</h4>
              <h5 class="card-title">2meters</h5>
              <p class="card-text">200SR</p>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <a href="/collections/new-arrivals" style="color: #1f2021; background-color: #ffc0cb" class="btn hero__cta btn-sm mr-4" tabindex="0">
                      ADD TO CART
                    </a>
                  </div>
                  <div class="col">
                    <a href="/collections/new-arrivals" style="color: #000; background-color: #fff; border: 2px solid #ffc0cb" class="btn hero__cta btn-sm mr-4" tabindex="0">
                      BUY IT NOW
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      <div class="col-md-3">
          <div class="card mx-auto">
            <img src="https://www.plantstudio.ae/cdn/shop/products/643d408179b262e1e3c8e9fece472444_590x.jpg?v=1630989695" class="card-img-top" alt="Hollywood Sign on The Hill"/>
            <div class="card-body">
              <h4 class="card-title">Cocos Nucifera</h4>
              <h5 class="card-title">140-160cm</h5>

              <p class="card-text">180SR</p>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <a href="/collections/new-arrivals" style="color: #1f2021; background-color: #ffc0cb" class="btn hero__cta btn-sm mr-4" tabindex="0">
                      ADD TO CART
                    </a>
                  </div>
                  <div class="col">
                    <a href="/collections/new-arrivals" style="color: #000; background-color: #fff; border: 2px solid #ffc0cb" class="btn hero__cta btn-sm mr-4" tabindex="0">
                      BUY IT NOW
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-3 mx-auto">
        <div class="card">
          <img src="https://www.plantstudio.ae/cdn/shop/products/olea-europa-olive-tree-xl-plant-studio-llc-2-meters-thicker-trunk-426382_590x.jpg?v=1628313296" class="card-img-top" alt="Hollywood Sign on The Hill"/>
          <div class="card-body">
            <h4 class="card-title">Olea Europa Olive</h4>
            <h5 class="card-title">3-3.5 meters</h5>
            <p class="card-text">260SR</p>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <a href="/collections/new-arrivals" style="color: #1f2021; background-color: #ffc0cb" class="btn hero__cta btn-sm mr-4" tabindex="0">
                      ADD TO CART
                    </a>
                  </div>
                  <div class="col">
                    <a href="/collections/new-arrivals" style="color: #000; background-color: #fff; border: 2px solid #ffc0cb" class="btn hero__cta btn-sm mr-4" tabindex="0">
                      BUY IT NOW
                    </a>
                  </div>
                </div>
              </div>

          </div>
        </div>
        </div>
      </div>
  </div>

  </div>
</div>

</main>

 
{% endblock %}